@bilibili-activity:registry=http://registry.npm.bilibili.co
@bilibili-firebird:registry=http://registry.npm.bilibili.co
@bilibili:registry=http://registry.npm.bilibili.co
@jinkela:registry=http://registry.npm.bilibili.co
@plat-components:registry=http://registry.npm.bilibili.co